<?xml version="1.0" encoding="UTF-8" ?>
<?eclipse version="3.0"?>

<plugin>
       <extension point="org.eclipse.imp.runtime.languageDescription">
          <language extensions="mobl" description="MoblNBL" language="MoblNBL" derivedFrom="DynamicRoot" validator="MoblNBL.MoblNBLValidator" validatorClass="MoblNBL.MoblNBLValidator"></language>
       </extension>
       <extension id="MoblNBL.parser" name="MoblNBL Parser" point="org.eclipse.imp.runtime.parser">
          <parser class="MoblNBL.MoblNBLParseController" language="MoblNBL">
          </parser>
       </extension>    
    </plugin>